<div>

  <h3>Formulario de crear Autor</h3>

  <form action="/author/create" method="post">

    <label for="name">Nombre:</label>
    <input type="text" name="name">
    <br>
    <label for="country">Pais de Origen:</label>
    <input type="text" name="country">
    <br>
    <label for="yearBorn">Año de Nacimiento:</label>
    <input type="number" name="yearBorn">
    <br>
    <button>Agregar</button>

  </form>

</div>