<div>

  <h3>Formulario para crear libro</h3>

  {{!-- DEBEMOS DECIRLE AL FORM QUE PUEDE ENVIAR ARCHIVOS enctype="multipart/form-data" --}}
  <form action="/book/create" method="post" enctype="multipart/form-data">

    <label class="form-label" for="title">Titulo</label>
    <input class="form-control" type="text" name="title">
    <br>
    <label class="form-label" for="description">Descripción</label>
    <input class="form-control" type="text" name="description">
    <br>
    {{!-- <input type="text" name="author"> --}}

    {{!-- {{allAuthors}} --}}

    {{!-- <select name="nombrePropiedad" id="">
      <option value="opcion-1">opcion 1</option>
      <option value="opcion-2">opcion 2</option>
      <option value="opcion-3">opcion 3</option>
    </select> --}}

    <label class="form-label" for="author">Autor</label>
    <select class="form-select" name="author" multiple="true">

      {{#each allAuthors}}

        <option value="{{this._id}}">{{this.name}}</option>

      {{/each}}

    </select>

    <br>

    <label class="form-label" for="image">Imagen</label>
    <input class="form-control" type="file" name="image">
    <br>

    <button class="btn btn-success">Agregar</button>

  </form>


</div>