<div>

  <h3>Aqui los detalles de un libro</h3>

  {{!-- {{this.bookDetails}} --}}
  <div>
    <h5>{{bookDetails.title}}</h5>
    <p>Descripción: {{bookDetails.description}}</p>
    <p>Autor: {{bookDetails.author}}</p>
  </div>

</div>