<div>

  <h3>Lista de Libros</h3>

  <ul class="list-group gap-3">

    {{#each allBooks}}

      {{!-- <p>{{this.title}}</p> --}}

        <a class="list-group-item list-group-item-action" href="/book/{{this._id}}/details">{{this.title}}</a>


    {{/each}}

  </ul>


</div>